.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    color: white;
    position: relative;
    max-width: min-content;
}

@media(max-width: 600px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}