.header__logo {
    width: 176px;
    height: 52px;
    background-image: url(../../../source/logo-russia.svg);
    margin: 28px 0 0 48px;
    background-size: cover;
    box-sizing: border-box;
}

@media(min-width: 350px) and (max-width: 800px) {
    .header__logo {
        margin: 28px 0 0 24px;
    }
}

@media(max-width: 349px) {
    .header__logo {
        width: 142px;
        height: 42px;
        margin: 16px 0 0 17px;
    }
}