.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    grid-area: "paragraph";
}

.place__paragraph:first-child {
    margin-bottom: 26px;
}

@media(max-width: 800px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }
}

@media(max-width: 349px) {
    .place__paragraph {
        margin: 0 16px;
    }
}