@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.19") format("woff2"),
       url("Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Italic.woff2?v=3.19") format("woff2"),
       url("Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
       url("Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-BoldItalic.woff2?v=3.19") format("woff2"),
       url("Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
       url("Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-BlackItalic.woff2?v=3.19") format("woff2"),
       url("Inter-BlackItalic.woff?v=3.19") format("woff");
}

@font-face {
  src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.woff2) format("woff2"),
       url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.woff) format("woff"),
       url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.ttf) format("truetype");
  font-family: 'IBM Plex Serif';
  font-weight: normal;
}

@font-face {
  src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.woff2) format("woff2"),
       url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.woff) format("woff"),
       url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.ttf) format("truetype");
  font-family: 'IBM Plex Serif';
  font-weight: bold;
}