.lead__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: min-content;
}

@media(max-width: 700px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}