.two-columns {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 750px) {
    .two-columns {
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
    }
}