.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 245px 0 33px 0;
    position: relative;
    color: white;
}

@media(min-width: 801px) and (max-width: 1100px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media(min-width: 500px) and (max-width: 800px) {
    .cover__title {
        margin-top: 116px;
    }
}

@media(max-width: 600px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 32px;
    }
}