.place {
    display: grid;
    max-width: 1500px;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, auto);
    margin: 91px 0 0 0;
    justify-content: center;
    gap: 48px 40px;

    border: 1px solid green;
}