.place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin: 0 0 8px 0;
    color: #AAAAAA;
}

@media(min-width: 350px) and (max-width: 800px) {
    .place__url-heading {
        margin: 0 0 12px 0;
    }
}