.language__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

.language__link:first-of-type {
    text-decoration-line: underline;
    margin-right: 19px;
}

@media(max-width: 350px) {
    .language__link {
        font-size: 18px;
        line-height: 20px;
    }
}